---
---
<footer>
  <div class="foot-top">
    <div class="foot-mark">JAPONICA</div>
    <div class="foot-philo">Textural, botanical, organic and a little wild</div>
  </div>
  <div class="foot-grid">
    <div class="foot-col">
      <div class="foot-h"><span class="lspc lspc-34">Location</span></div>
      <span class="foot-line">By appointment only</span>
      <span class="foot-line">Ryde, 2112, Sydney</span>
    </div>
    <div class="foot-col">
      <div class="foot-h"><span class="lspc lspc-34">Contact</span></div>
      <a class="foot-line" href="mailto:florals@japonica.com.au">florals@japonica.com.au</a>
      <a class="foot-line" href="tel:+61404466093">+61 404 466 093</a>
    </div>
    <div class="foot-col">
      <div class="foot-h"><span class="lspc lspc-34">Follow</span></div>
      <a class="foot-line" href="https://www.instagram.com/__japonica__" target="_blank" rel="noopener">Instagram</a>
      <a class="foot-line" href="https://www.facebook.com/japonicaweddingsevents/" target="_blank" rel="noopener">Facebook</a>
    </div>
  </div>
  <div class="foot-meta">
    <span>&copy; Japonica Floral Studio &middot; ABN 40 877 110 552</span>
    <span><a href="/process/">Process</a> &nbsp;&middot;&nbsp; <a href="/faq/">FAQ</a> &nbsp;&middot;&nbsp; <a href="/booking-terms/">Booking terms</a> &nbsp;&middot;&nbsp; <a href="/privacy/">Privacy</a></span>
  </div>
</footer>
